body{
    background-color: var(--cl_textLight);
}
header{
    background-color: var(--cl_bgc);
}
.adminMain{
    padding: 100px 20px;
}


.prices__table{
    display: block;
    overflow-x: auto;
}
.prices__table th{
    white-space: nowrap;
    padding: 0 20px;
}
.prices__row td {
    min-width: 100px;
}
.prices__row img{
    width: 25px;
}
.prices__row .addRow{
    margin-left: auto;
    padding-right: 20px;
}
.iconBlock{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.iconBlock a, .addRow a {
    display: block;
    color: var(--cl_textPrimary);
}