:root{

    --cl_bgc: #121418;
    --cl_bgcDarker:  #0c0f16;
    --cl_accent: #FF1313;
    --cl_textPrimary: #222222;
    --cl_textSecondary: #929294;
    --cl_textLight: #fff;


    --header-height: 140px;
}
div {
    box-sizing: border-box;
}
/* UI KIT */
textarea, input{
    padding: 10px 10px 10px 20px;
    width: 100%;

    border: 1px solid var(--cl_textSecondary);
    color: var(--cl_textPrimary);
    font-size: 20px;
    background-color: var(--cl_textLight);
}
textarea:focus, input:focus{
    border: 1px solid var(--cl_accent);
}
textarea{
    resize: none;
}
input[type="submit"], input[type="button"]{
    cursor: pointer;
    will-change: contents;
    transition: 0.3s;
    color: var(--cl_accent);
    border: 1px solid var(--cl_accent);
    text-transform: uppercase;
}
input[type="submit"]:hover, input[type="button"]:hover{
    color: var(--cl_textLight);
    background-color: var(--cl_accent);
    font-weight: bold;
}
/* UI KIT */


body{
    position: relative;
    font-family: 'Roboto', sans-serif;
    background-color: var(--cl_bgc);
}
.container{
    margin: 0 auto;
    max-width: 1440px;
}
.accent{
    color: var(--cl_accent);
}
.title-preText{
    color: var(--cl_textSecondary);
    font-weight: lighter;
    font-size: 16px;
}
.title-header{
    font-weight: bolder;
    font-size: 40px;
}
.title2{
    font-size: 24px;
    font-weight: bold;
}
.underHeaderPlaceholder{
    margin-top: calc(var(--header-height) + 5vh);
}
/*COMMON STYLES END*/


.section__1{
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.section__filter{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(1, 10, 28, 0.6);
}
.section__absoluteTitle{
    position: absolute;
    top: 40vh;
    left: 20vw;
    max-width: 640px;

    color: var(--cl_textLight);
}
.section__absoluteTitle > h1 {
    font-size: 60px;
}
.section__absoluteTitle > h2:after{
    content: "";
    position: absolute;
    left: 10%;
    right: 0;
    top: 20%;
    height: 100%;
    background-image: url(/Resources/img/accent_line.png);
    background-repeat: no-repeat;
}


.section__2{
    position: relative;
    min-height: 40vh;
    color: var(--cl_textLight);
}
.section__2:after{
    content: "";

    background-size: cover;
    background: transparent url(/Resources/img/section2Texture.jpg) no-repeat center;
    opacity: 0.1;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}
.benefits{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    margin: 40px 0;
}
.benefits__item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 15px 15px;
    width: 250px;
    padding: 10px;

    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    -webkit-box-shadow: 0px 23px 44px 12px rgba(0, 49, 86, 0.1);
    -moz-box-shadow: 0px 23px 44px 12px rgba(0, 49, 86, 0.1);
    box-shadow: 0px 23px 44px 12px rgba(0, 49, 86, 0.1);
}
.benifits__img{
    background-color: #fff;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.benifits__img > img{
    width: 100px;
    height: 100px;
}
.benifits__text{
    width: 100%;
}
.benifits__descr{
    padding-left: 20px;
}


.section__3{
    position: relative;
}
.section__bgimage{
    background-size: cover;
    background-position: center center;
    min-height: 80vh;
}
.professionals__wrapper{
    padding: 20px;
    margin-top: -60vh;
}
.professionals{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: end;
}
.professionals__textBox{
    max-width: 65%;
    padding: 6vw;
    background-color: var(--cl_textLight);
}

.professionals__preText{
    color: var(--cl_bgc);
}
.professionals__description{
    font-size: 20px;
}

.professionals__more{
    display: block;
    margin-left: 30px;
    background-color: var(--cl_accent);
    color: var(--cl_textLight);
    font-weight: lighter;
    padding: 34px 60px;
}
@media (max-width: 1000px){
    .professionals{
        flex-direction: column;
        align-items: center;
    }
    .professionals__textBox{
        max-width: 800px;
    }
    .professionals__more{
        max-width: 400px;
        margin: 30px 0 0;
    }
}

.section__4{
    background-color: var(--cl_bgcDarker);
    min-height: 50vh;
    padding: 150px 0;
}

.sectionTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sectionTitle .title-header{
    color: var(--cl_textLight);
    padding-top: 20px;
}

.section__4 .cards{
    margin-top: 50px;
}
.cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    height: 500px;
    width: 400px;
    margin: 15px 15px;
    display: flex;
    align-items: end;
    overflow: hidden;

    background-size: cover;
    background-position: center center;
}
.card__label{
    height: 75px;
    width: 100%;
    /*margin-top: auto;*/
    padding: 20px 20px 20px 70px;

    background-color: var(--cl_textLight);
}
.card__title{
    position: relative;
}
.card__title:before{
    position: absolute;
    top: 50%;
    left:  -50px;
    content: "";
    width: 40px;
    height: 2px;
    background-color: var(--cl_accent);
}

.card__label{
    transition: 0.5s;
}
.card__text p + p{
    margin-top: -1em;
}
.card__text p:not(:first-child){
    opacity: 0;
}


@media (min-width: 861px) {
    /*На устр с разрешением больше 861px слушаем hover*/

    .card:hover .card__text p:not(:first-child){
        opacity: 1;
    }
    .card:hover .card__label{
        height: 125px;
    }
    .card:hover .card__label{
        background-color: var(--cl_accent);
        color: var(--cl_textLight);
    }
    .card:hover .card__title:before{
        background-color: var(--cl_textLight);
    }
}
@media (max-width: 860px) {
    /*На устр с разрешением меньше 860px слушаем кастомный класс*/
    .card{
        max-width: 400px;
    }
    .hovered .card__text p:not(:first-child){
        opacity: 1;
    }
    .hovered .card__label{
        height: 125px;
    }
    .hovered .card__label{
        background-color: var(--cl_accent);
        color: var(--cl_textLight);
    }
    .hovered .card__title:before{
        background-color: var(--cl_textLight);
    }

}

@media (max-width: 576px) {
    .title-header{
        font-size: 24px;
    }

}


.contacts__phone{
    font-size: 24px;
}

.socialsBlock{
    border-left: 2px solid var(--cl_accent);
    padding-left: 15px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.social{
    margin-top: 15px;
    width: 100%;
    border-bottom: 1px solid var(--cl_textPrimary);

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social__text{
    transition: 0.3s;
    color: var(--cl_textSecondary);
}
.social:hover .social__text{
    font-weight: bold;
    color: var(--cl_accent);
}
.social__image > img{
    width: 50px;
}



